<% include r_header %>

<div class="cb">
  <p class="search_key"></p>
  <button type="button" class="m_prog_search_toggle fr"></button>
</div>
<div class="prog_search">
  <form action="">
    <div class="line">
      <select name="state" class="inp lng3">
        <option value="">작업상태</option>
        <option value="">대기</option>
        <option value="">디자인</option>
        <option value="">개발</option>
        <option value="">완료</option>
        <option value="">보류</option>
      </select>
      <select name="product" class="inp lng3">
        <option value="">상품구분</option>
        <option value="">홈페이지</option>
        <option value="">반응형 홈페이지</option>
        <option value="">쇼핑몰</option>
        <option value="">웹호스팅,도메인</option>
        <option value="">수정</option>
      </select>
      <select name="pay" class="inp lng3">
        <option value="">결제상태</option>
        <option value="">미수금</option>
      </select>
    </div>
    <div class="line">
      <select name="search_type" class="inp lng3">
        <option value="">업체명</option>
        <option value="">대표자</option>
        <option value="">연락처</option>
        <option value="">영업담당</option>
        <option value="">도메인</option>
        <option value="">개발도메인</option>
        <option value="">메모</option>
        <option value="">기타내용</option>
      </select>
      <input type="text" name="keyword" class="inp keyword">
      <button type="submit" class="sbm_btn">검색</button>
    </div>
  </form>
</div>
<div class="prog_lst">
  <table>
    <thead>
      <tr>
        <th class="th1">번호</th>
        <th class="th2">상태</th>
        <th class="th3">업체명</th>
        <th class="th4">담당자</th>
        <th class="th5">연락처</th>
        <th class="th6">영업담당</th>
        <th class="th7">미수금/총금액</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>123</td>
        <td><span class="state s1">대기</span></td>
        <td><a href="">쿠팡(주)</a></td>
        <td>강현승</td>
        <td><a href="tel:010-1234-1234"><i class="tel_i"></i>010-1234-1234</a></td>
        <td><a href="">조은수</a></td>
        <td>
          <span class="c1">5,000,000</span>/10,000,000
        </td>
      </tr>
      <tr>
        <td>123</td>
        <td><span class="state s2">디자인</span></td>
        <td><a href="">쿠팡(주)</a></td>
        <td>강현승</td>
        <td><a href="tel:010-1234-1234"><i class="tel_i"></i>010-1234-1234</a></td>
        <td><a href="">조은수</a></td>
        <td>
          <span class="c1">5,000,000</span>/10,000,000
        </td>
      </tr>
      <tr>
        <td>123</td>
        <td><span class="state s3">개발</span></td>
        <td><a href="">쿠팡(주)</a></td>
        <td>강현승</td>
        <td><a href="tel:010-1234-1234"><i class="tel_i"></i>010-1234-1234</a></td>
        <td><a href="">조은수</a></td>
        <td>
          <span class="c1">5,000,000</span>/10,000,000
        </td>
      </tr>
      <tr>
        <td>123</td>
        <td><span class="state s4">완료</span></td>
        <td><a href="">쿠팡(주)</a></td>
        <td>강현승</td>
        <td><a href="tel:010-1234-1234"><i class="tel_i"></i>010-1234-1234</a></td>
        <td><a href="">조은수</a></td>
        <td>
          <span class="c1">5,000,000</span>/10,000,000
        </td>
      </tr>
      <tr>
        <td>123</td>
        <td><span class="state s5">보류</span></td>
        <td><a href="">쿠팡(주)</a></td>
        <td>강현승</td>
        <td><a href="tel:010-1234-1234"><i class="tel_i"></i>010-1234-1234</a></td>
        <td><a href="">조은수</a></td>
        <td>
          <span class="c1">5,000,000</span>/10,000,000
        </td>
      </tr>
      <tr>
        <td>123</td>
        <td><span class="state s1">대기</span></td>
        <td><a href="">쿠팡(주)</a></td>
        <td>강현승</td>
        <td><a href="tel:010-1234-1234"><i class="tel_i"></i>010-1234-1234</a></td>
        <td><a href="">조은수</a></td>
        <td>
          <span class="c1">5,000,000</span>/10,000,000
        </td>
      </tr>
      <tr>
        <td>123</td>
        <td><span class="state s2">디자인</span></td>
        <td><a href="">쿠팡(주)</a></td>
        <td>강현승</td>
        <td><a href="tel:010-1234-1234"><i class="tel_i"></i>010-1234-1234</a></td>
        <td><a href="">조은수</a></td>
        <td>
          <span class="c1">5,000,000</span>/10,000,000
        </td>
      </tr>
      <tr>
        <td>123</td>
        <td><span class="state s3">개발</span></td>
        <td><a href="">쿠팡(주)</a></td>
        <td>강현승</td>
        <td><a href="tel:010-1234-1234"><i class="tel_i"></i>010-1234-1234</a></td>
        <td><a href="">조은수</a></td>
        <td>
          <span class="c1">5,000,000</span>/10,000,000
        </td>
      </tr>
      <tr>
        <td>123</td>
        <td><span class="state s4">완료</span></td>
        <td><a href="">쿠팡(주)</a></td>
        <td>강현승</td>
        <td><a href="tel:010-1234-1234"><i class="tel_i"></i>010-1234-1234</a></td>
        <td><a href="">조은수</a></td>
        <td>
          <span class="c1">5,000,000</span>/10,000,000
        </td>
      </tr>
      <tr>
        <td>123</td>
        <td><span class="state s5">보류</span></td>
        <td><a href="">쿠팡(주)</a></td>
        <td>강현승</td>
        <td><a href="tel:010-1234-1234"><i class="tel_i"></i>010-1234-1234</a></td>
        <td><a href="">조은수</a></td>
        <td>
          <span class="c1">5,000,000</span>/10,000,000
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="page_num">
  <a href="" class="page first dn326">처음</a>
  <a href="" class="page l">이전</a>
  <a href="" class="act">1</a>
  <a href="" class="">2</a>
  <a href="" class="">3</a>
  <a href="" class="">4</a>
  <a href="" class="">5</a>
  <a href="" class="page r">다음</a>
  <a href="" class="page last dn326">마지막</a>
</div>


<% include r_footer %>
