<% include r_header %>

<form action="" class="req_form">
  <section id="comp_area" class="project_det_sect">
    <div class="project_tab">
      <ul>
        <li class="a">
          <a href="#comp_area">업체정보</a>
        </li>
        <li>
          <a href="#pay_area">결제정보</a>
        </li>
        <li>
          <a href="#work_area">작업정보</a>
        </li>
        <li>
          <a href="#memo_area">메모</a>
        </li>
      </ul>
    </div>
    <div class="vertical_tb v">
      <table>
        <tbody>
          <tr>
            <th class="s">업체명</th>
            <td class="copy_td">쿠팡(주)
              
            </td>
          </tr>
          <tr>
            <th>사업자번호</th>
            <td>123-12-12345</td>
          </tr>
          <tr>
            <th>주소</th>
            <td>12345 서울시 송파구 송파대로 570</td>
          </tr>
          <tr>
            <th>담당자</th>
            <td>강한승</td>
          </tr>
          <tr>
            <th>연락처</th>
            <td><a href="tel:010-1234-1234"><i class="tel_i"></i>010-1234-1234</a></td>
          </tr>
          <tr>
            <th>FAX</th>
            <td></td>
          </tr>
          <tr>
            <th>이메일</th>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <section id="pay_area" class="project_det_sect pt70">
    <div class="project_tab">
      <ul>
        <li>
          <a href="#comp_area">업체정보</a>
        </li>
        <li class="a">
          <a href="#pay_area">결제정보</a>
        </li>
        <li>
          <a href="#work_area">작업정보</a>
        </li>
        <li>
          <a href="#memo_area">메모</a>
        </li>
      </ul>
    </div>
    <div class="vertical_tb v">
      <table>
        <tbody>
          <tr>
            <th>총금액</th>
            <td>10,000,000</td>
          </tr>
          <tr>
            <th>선금</th>
            <td>50,000,000</td>
          </tr>
          <tr>
            <th>완료금</th>
            <td></td>
          </tr>
          <tr>
            <th>추가개발금</th>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <section id="work_area" class="project_det_sect pt70">
    <div class="project_tab">
      <ul>
        <li>
          <a href="#comp_area">업체정보</a>
        </li>
        <li>
          <a href="#pay_area">결제정보</a>
        </li>
        <li class="a">
          <a href="#work_area">작업정보</a>
        </li>
        <li>
          <a href="#memo_area">메모</a>
        </li>
      </ul>
    </div>
    <div class="vertical_tb v">
      <table>
        <tbody>
          <tr>
            <th>진행상태</th>
            <td>대기중</td>
          </tr>
          <tr class="s">
            <th>영업담당자</th>
            <td>조은수</td>
          </tr>
          <tr>
            <th>도메인</th>
            <td><a href="https://www.coupang.com/" target="_blank">https://www.coupang.com/</a></td>
          </tr>
          <tr>
            <th>시안번호</th>
            <td>3.2.1</td>
          </tr>
          <tr>
            <th>개발 url</th>
            <td><a href="https://www.coupang.com/" target="_blank">https://www.coupang.com/</a></td>
          </tr>
          <tr>
            <th>개발 시작일</th>
            <td>2021.10.11</td>
          </tr>
          <tr>
            <th>개발 완료일</th>
            <td>2021.11.11</td>
          </tr>
          <tr>
            <th>상품구분</th>
            <td>홈페이지</td>
          </tr>
          <tr>
            <th>기타내용</th>
            <td>
              입력된 기타내용 출력
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <section id="memo_area" class="project_det_sect pt70">
    <div class="project_tab">
      <ul>
        <li>
          <a href="#comp_area">업체정보</a>
        </li>
        <li>
          <a href="#pay_area">결제정보</a>
        </li>
        <li>
          <a href="#work_area">작업정보</a>
        </li>
        <li class="a">
          <a href="#memo_area">메모</a>
        </li>
      </ul>
    </div>
  <div class="tac mt30">
    <button type="submit" class="b_sbm_btn">등록</button>
  </div>
</form>

<% include r_footer %>
