<!doctype html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>MillionWeb</title>
  <link rel="stylesheet" href="/css/font/notokr.css" media="all">
  <link rel="stylesheet" href="/css/million.css?v=init" media="all">
  <script src="/js/plugin/jquery-1.12.4.min.js?v=init"></script>
  <script src="/js/common.js?v=init"></script>
  <script src="/js/jq_ajax.js?v=init"></script>
  <script src="/js/million1.0.0.js?v=init"></script>
</head>
<body>
<div id="wrap">
  <header id="header">
    <h1><a href="./">MillionWeb</a></h1>
    <nav>
      <ul>
        <li><a href=""><i></i>진행현황관리</a></li>
        <li><a href=""><i></i>일정관리</a></li>
        <li><a href=""><i></i>회원관리</a></li>
        <li><a href=""><i></i>관리자정보</a></li>
        <li><a href=""><i></i>로그아웃</a></li>
      </ul>
    </nav>
  </header>
  <div id="content">
    <h2 class="tit">진행현황</h2>