<!doctype html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Document</title>
  <link rel="stylesheet" href="/css/font/notokr.css" media="all">
  <link rel="stylesheet" href="/css/r_layout.css?v=init" media="all">
  <script src="/js/plugin/jquery-1.12.4.min.js?v=init"></script>
  <script src="/js/dev/popup.js?v=init" defer></script>
  <script src="/js/common.js?v=init"></script>
  <script src="/js/jq_ajax.js?v=init"></script>
  <script src="/js/r-inday-1.0.0.js?v=init"></script>
</head>
<body>
<div id="wrap">
  <div class="skip_nav">
    <ul>
      <li><a href="#gnb">주 메뉴 바로가기</a></li>
      <li><a href="#content">본문 바로가기</a></li>
    </ul>
  </div>
  <div id="header">

  </div>
  <div id="content">
  