<!doctype html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>MillionWeb</title>
  <link rel="stylesheet" href="/css/plugin/jquery-ui.css" media="all">
  <link rel="stylesheet" href="/css/font/notokr.css" media="all">
  <link rel="stylesheet" href="/css/million.css?v=init" media="all">
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <script src="/js/plugin/jquery-1.12.4.min.js?v=init"></script>
  <script src="/js/plugin/jquery-ui.js?v=init"></script>

  <script src="/js/common.js?v=init"></script>
  <script src="/js/jq_ajax.js?v=init"></script>
  <script src="/js/dev/million.js?v=init"></script>
</head>
<body>
<div id="wrap">
  <header id="header">
    <h1><a href="./"><span class="txt">MillionWeb</span><i></i></a></h1>
    <nav>
      <ul>
        <li><a href=""><i class="i1"></i><span class="txt">진행현황</span></a></li>
        <li><a href=""><i class="i2"></i><span class="txt">일정관리</span></a></li>
        <li><a href=""><i class="i3"></i><span class="txt">회원관리</span></a></li>
        <li><a href=""><i class="i4"></i><span class="txt">설정</span></a></li>
        <li><a href=""><i class="i5"></i><span class="txt">로그아웃</span></a></li>
      </ul>
    </nav>
  </header>
  <div id="content">
    <h2 class="tit">진행현황</h2>
