@import "common.scss";
@import "r_common.scss";
@import "d_component.scss";


/* response ex

'd1000','d960','d720','d594','d326','d90'

@include respond-to('d1000') {
    background: pink;
}
@include respond-to('d960') {
    background: orange;
}
@include respond-to('d720') {
    background: blue;
}
*/
$contW : 1300px;
.container{width: $contW;}
#wrap{min-width: $contW;}
